.analyzeSurveyImage {
    width: 70%;
    height: 150px;
    text-align: center
}

@media (min-width: 768px) {
    .analyzeSurveyImage {
        width: 300px;
        height: 150px;
        text-align: center
    }
}